%p#notice= notice

%p
  %b Name:
  = @album.name
%p
  %b Description:
  = @album.description
%p
  %b Since date:
  = @album.since_date
%p
  %b Till date:
  = @album.till_date
%p
  %b Author:
  = @album.author

= link_to 'Edit', edit_album_path(@album)
\|
= link_to 'Back', albums_path
